[project]
name = "advent-of-code"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "networkx>=3.6",
    "shapely>=2.1.2",
    "tqdm>=4.67.1",
]
